.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "The Logic of the Twitterverse", '#', class: 'brand'
      %ul.nav         
        %li.dropdown 
          
          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            Tweet Logic
            %b.caret
          %ul.dropdown-menu
            %li{:data => {:no_turbolink => 'true'}}= link_to "Top", root_url
            %li{:data => {:no_turbolink => 'true'}}= link_to "New", '/tweets/new'
            %li{:data => {:no_turbolink => 'true'}}= link_to "My Tweets", '/tweets/me'
            %li{:data => {:no_turbolink => 'true'}}= link_to "Users Tweets", '/tweets/user/SchoolsMemories'
        %li.dropdown 

          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
            Bubble Cloud
            %b.caret
          %ul.dropdown-menu
            %li{:data => {:no_turbolink => 'true'}}= link_to "View 1", bubble_cloud_view1_path
            %li{:data => {:no_turbolink => 'true'}}= link_to "View 2", bubble_cloud_view2_path
            %li{:data => {:no_turbolink => 'true'}}= link_to "View 3", bubble_cloud_view3_path
            %li{:data => {:no_turbolink => 'true'}}= link_to "View 4", bubble_cloud_view4_path
      %ul.nav.pull-right         
        - if user_signed_in?
          %li= link_to current_user.name, users_path(current_user) 
          %li{:data => {:no_turbolink => 'true'}}= link_to "Sign out", signout_path
        - else
          %li= link_to "Sign in with Twitter", signin_path(:twitter)