!!!

%div.alert.alert-info
  %button{:type => "button", :class => "close",:data => {:dismiss=> "alert"}} ×
  %div{:style => "width:600px"}
    %p
      %b{:style => "vertical-align:top"} Which cyclists are mentioned and shared on twitter?
      %a.pull-right{:href => "https://twitter.com/OneLineArgument", :class => "twitter-follow-button", :data => {:show_count => "false"}} Follow @OneLineArgument
%div#main{:role =>"main"}
  %div#view_selection.btn-group
    %a#all.btn.active{:href=>"#"} All
    %a#year.btn{:href=>"#"} By Cyclist

:javascript
    $(document).ready(function() {
        $(document).ready(function() {
          $('#view_selection a').click(function() {
            var view_type = $(this).attr('id');
            $('#view_selection a').removeClass('active');
            $(this).toggleClass('active');
            toggle_view(view_type);
            return false;
          });
        });
    });
%div#vis

:javascript
  !function(d,s,id){
  var js,
  fjs=d.getElementsByTagName(s)[0],
  p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){
    js=d.createElement(s);js.id=id;
    js.src=p+'://platform.twitter.com/widgets.js';
    fjs.parentNode.insertBefore(js,fjs);
  }
  }
  (document, 'script', 'twitter-wjs');
